assets/models/flow/*.glb filter=lfs diff=lfs merge=lfs -text
assets/models/flow/miriam-particles-points.glb -filter -diff -merge -text
assets/models/flow/marfan_lines_animation_fixed_optimized_s60.glb -filter -diff -merge -text
